body {
    background-image: url('haikei.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0;
    padding: 0;
}

#qrcode {
    text-align: center;
    margin: 0 auto;
}
